:form {
  padding: 20rem;
  margin: 20rem;
  border: solid;
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
  /* color: darkblue;
  color: midnightblue; */
  color: darkslategray;
  /* background-color: lightgoldenrodyellow; */
  background-color: #ffffcc;
}

/* make styles dynamic */
/* add media queries for diff screen sizes (at least one breakpoint for desktop (concentrate on mobile view) at minimum ) */
